@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(239, 207, 207),
    rgb(209, 209, 245)
  );
}
.text-center {
  text-align: center;
  margin-bottom: 30px;
  color: blue;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.button {
  padding: 20px;
  margin: 0 3px;
  border: 2.5px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
  color: black;
  box-shadow: 2px 2px 2px;
  font-size: 1rem;
  background-color: rgb(245, 245, 192);
}

.row {
  margin: 5px 0px;
}

button:hover {
  color: rgb(226, 0, 113);
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 19px;
  background-color: rgb(224, 220, 220);
}

.calc {
  border: 2.5px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: rgb(182, 177, 177);
}

#btnequalto {
  background-color: rgb(186, 231, 186);
}

#dotbtn {
  margin-left: 5px;
  padding-right: 1.5rem;
  text-align: center;
}

#subbtn {
  padding-right: 1.5rem;
}

#deletebtn {
  background-color: rgb(229, 156, 156);
}

.operations {
  background-color: rgb(223, 204, 223);
}
